@{
    Layout = "~/Views/Shared/_Styles.cshtml";
}
@model WePhone.Models.ULogin;

@{
    ViewData["Title"] = "SignUp";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignUp</title>
    <!-- Include Bootstrap CSS -->
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
        h1{
            text-align: center;
        }

        td{
            padding:5px 10px;
        }

        .form-container {
            display: flex;
            flex-direction: column;
            align-items: left;
            outline: 2px solid #404040; 
            padding: 5px; 
        }

        .form-group-1 {
            margin-bottom: 10px;
            display: flex; 
            justify-content: center;
            width:70vh;
        }

        .form-control {
            font-size: 14px;
            width: 200px; 
            margin:auto;
        }

        .btn-primary {
            align-items: center;
            color: #fff;
            margin: auto 10px;
        }
    </style>
</head>
<body>
    <div class="form-container">
        <h1>Sign up</h1>
        <div class="row">
            <div class="col-md-8">
                <form asp-action="SignUp">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <table>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label asp-for="Username" class="control-label"></label>
                                    <input asp-for="Username" class="form-control" />
                                    <span asp-validation-for="Username" class="text-danger"></span>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label asp-for="Password" class="control-label"></label>
                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label asp-for="FullName" class="control-label"></label>
                                    <input asp-for="FullName" class="form-control" />
                                    <span asp-validation-for="FullName" class="text-danger"></span>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label asp-for="Email" class="control-label"></label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label asp-for="PhoneNumber" class="control-label"></label>
                                    <input asp-for="PhoneNumber" class="form-control" />
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label asp-for="ProvinceCity" class="control-label"></label>
                                    <input asp-for="ProvinceCity" class="form-control" />
                                    <span asp-validation-for="ProvinceCity" class="text-danger"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label asp-for="District" class="control-label"></label>
                                    <input asp-for="District" class="form-control" />
                                    <span asp-validation-for="District" class="text-danger"></span>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label asp-for="Ward" class="control-label"></label>
                                    <input asp-for="Ward" class="form-control" />
                                    <span asp-validation-for="Ward" class="text-danger"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label asp-for="SpecificAddress" class="control-label"></label>
                                    <input asp-for="SpecificAddress" class="form-control" />
                                    <span asp-validation-for="SpecificAddress" class="text-danger"></span>
                                </div>
                            </td>
                            <td></td>
                        </tr>
                    </table>
                    <div class="form-group-1">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>