@model List<WePhone.Models.Smartphone>

<!-- Carousel Start -->
<div class="container-fluid mb-3">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <div id="demo" class="carousel slide carousel-fade mb-30 mb-lg-0" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item position-relative active" style="height: 430px;">
                        <img class="position-absolute w-100 h-100" src="img/ip-14-carousel.jpg" style="object-fit: cover;">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">iPhone 14 Pro</h1>
                                <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Lorem rebum magna amet lorem magna erat diam stet. Sadips duo stet amet amet ndiam elitr ipsum diam</p>
                                <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="#">Shop Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item position-relative" style="height: 430px;">
                        <img class="position-absolute w-100 h-100" src="img/Galaxy-Z-Fold-3-carousel.jpg" style="object-fit: cover;">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Galaxy Z Fold 3</h1>
                                <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Lorem rebum magna amet lorem magna erat diam stet. Sadips duo stet amet amet ndiam elitr ipsum diam</p>
                                <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="#">Shop Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item position-relative" style="height: 430px;">
                        <img class="position-absolute w-100 h-100" src="img/Xiaomi-Mi-11-Ultra-carousel.jpg" style="object-fit: cover;">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Mi 11 Ultra</h1>
                                <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Lorem rebum magna amet lorem magna erat diam stet. Sadips duo stet amet amet ndiam elitr ipsum diam</p>
                                <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="#">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="product-offer mb-30" style="height: 200px;">
                <img class="img-fluid" src="img/discount-20.jpg" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">Save 20%</h6>
                    <h3 class="text-white mb-3">Special Offer</h3>
                    <a href="" class="btn btn-primary">Shop Now</a>
                </div>
            </div>
            <div class="product-offer mb-30" style="height: 200px;">
                <img class="img-fluid" src="img/discount-10.jpg" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">Save 10%</h6>
                    <h3 class="text-white mb-3">Special Offer</h3>
                    <a href="" class="btn btn-primary">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->
<!-- Featured Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                <h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">14-Day Return</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
            </div>
        </div>
    </div>
</div>
<!-- Featured End -->
<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Home</a>
                <span class="breadcrumb-item active">Index</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Shop Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <!-- Shop Sidebar Start -->
        <div class="col-lg-3 col-md-4">
            <!-- Price Start -->
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by price</span></h5>
            <div class="bg-light p-4 mb-30">
                <form>
                    <!-- Converted radio buttons structure -->
                    <div class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3">
                        <input type="radio" class="custom-control-input" checked id="price-all" name="price-group">
                        <label class="custom-control-label" for="price-all">All Price</label>
                        @* <span class="badge border font-weight-normal">1000</span> *@
                    </div>

                    <div class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3">
                        <input type="radio" class="custom-control-input" id="price-1" name="price-group">
                        <label class="custom-control-label" for="price-1">$100 - $500</label>
                        @* <span class="badge border font-weight-normal">150</span> *@
                    </div>

                    <div class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3">
                        <input type="radio" class="custom-control-input" id="price-2" name="price-group">
                        <label class="custom-control-label" for="price-2">$500 - $900</label>
                        @* <span class="badge border font-weight-normal">295</span> *@
                    </div>

                    <div class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3">
                        <input type="radio" class="custom-control-input" id="price-3" name="price-group">
                        <label class="custom-control-label" for="price-3">$900 - $1200</label>
                        @* <span class="badge border font-weight-normal">246</span> *@
                    </div>

                    <div class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3">
                        <input type="radio" class="custom-control-input" id="price-4" name="price-group">
                        <label class="custom-control-label" for="price-4">$1200 - $1600</label>
                        @* <span class="badge border font-weight-normal">145</span> *@
                    </div>

                    <div class="custom-control custom-radio d-flex align-items-center justify-content-between">
                        <input type="radio" class="custom-control-input" id="price-5" name="price-group">
                        <label class="custom-control-label" for="price-5">$1600 - $2100</label>
                        @* <span class="badge border font-weight-normal">168</span> *@
                    </div>
                </form>
            </div>
            <!-- Price End -->
            <!-- Color Start -->
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by color</span></h5>
            <div class="bg-light p-4 mb-30">
                <form>
                    <div class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3">
                        <input type="radio" class="custom-control-input" checked id="color-all" name="color-group">
                        <label class="custom-control-label" for="color-all">All Color</label>
                        @* <span class="badge border font-weight-normal">1000</span> *@
                    </div>

                    <div class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3">
                        <input type="radio" class="custom-control-input" id="color-1" name="color-group">
                        <label class="custom-control-label" for="color-1">Black</label>
                        @* <span class="badge border font-weight-normal">150</span> *@
                    </div>

                    <div class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3">
                        <input type="radio" class="custom-control-input" id="color-2" name="color-group">
                        <label class="custom-control-label" for="color-2">White</label>
                        @* <span class="badge border font-weight-normal">295</span> *@
                    </div>

                    <div class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3">
                        <input type="radio" class="custom-control-input" id="color-3" name="color-group">
                        <label class="custom-control-label" for="color-3">Red</label>
                        @* <span class="badge border font-weight-normal">246</span> *@
                    </div>

                    <div class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3">
                        <input type="radio" class="custom-control-input" id="color-4" name="color-group">
                        <label class="custom-control-label" for="color-4">Blue</label>
                        @* <span class="badge border font-weight-normal">145</span> *@
                    </div>

                    <div class="custom-control custom-radio d-flex align-items-center justify-content-between">
                        <input type="radio" class="custom-control-input" id="color-5" name="color-group">
                        <label class="custom-control-label" for="color-5">Green</label>
                        @* <span class="badge border font-weight-normal">168</span> *@
                    </div>
                </form>
            </div>
            <!-- Color End -->
            <!-- Size Start -->
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by RAM size</span></h5>
            <div class="bg-light p-4 mb-30">
                <form>
                    <div class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3">
                        <input type="radio" class="custom-control-input" checked id="size-all" name="size-group">
                        <label class="custom-control-label" for="size-all">All RAM size</label>
                        @* <span class="badge border font-weight-normal">1000</span> *@
                    </div>

                    <div class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3">
                        <input type="radio" class="custom-control-input" id="size-1" name="size-group">
                        <label class="custom-control-label" for="size-1">1 - 2 GB</label>
                        @* <span class="badge border font-weight-normal">150</span> *@
                    </div>

                    <div class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3">
                        <input type="radio" class="custom-control-input" id="size-2" name="size-group">
                        <label class="custom-control-label" for="size-2">2 - 4 GB</label>
                        @* <span class="badge border font-weight-normal">295</span> *@
                    </div>

                    <div class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3">
                        <input type="radio" class="custom-control-input" id="size-3" name="size-group">
                        <label class="custom-control-label" for="size-3">4 - 8 GB</label>
                        @* <span class="badge border font-weight-normal">246</span> *@
                    </div>

                    <div class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3">
                        <input type="radio" class="custom-control-input" id="size-4" name="size-group">
                        <label class="custom-control-label" for="size-4">8 - 12 GB</label>
                        @* <span class="badge border font-weight-normal">145</span> *@
                    </div>

                    <div class="custom-control custom-radio d-flex align-items-center justify-content-between">
                        <input type="radio" class="custom-control-input" id="size-5" name="size-group">
                        <label class="custom-control-label" for="size-5">12 - 16 GB</label>
                        @* <span class="badge border font-weight-normal">168</span> *@
                    </div>
                </form>
            </div>
            <!-- Size End -->
        </div>
        <!-- Shop Sidebar End -->
        <!-- Shop Product Start -->
        <div class="col-lg-9 col-md-8">
            <div class="row pb-3">
                <div class="col-12 pb-1">
                    <div class="d-flex align-items-center justify-content-end mb-4">
                        <div class="ms-2">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-bs-toggle="dropdown">Sorting</button>
                                <div class="dropdown-menu dropdown-menu-endtext-lg-end">
                                    <a class="dropdown-item" href="#">Ram</a>
                                    <a class="dropdown-item" href="#">Rom</a>
                                    <a class="dropdown-item" href="#">Price</a>
                                </div>
                            </div>
                            <div class="btn-group ms-2">
                                <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-bs-toggle="dropdown">Showing</button>
                                <div class="dropdown-menu dropdown-menu-endtext-lg-end">
                                    <a class="dropdown-item" href="#">10</a>
                                    <a class="dropdown-item" href="#">20</a>
                                    <a class="dropdown-item" href="#">30</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @if(Model == null)
                {
                    <h1>Loading...</h1>
                } else {
                    @foreach (var phone in Model)
                    {
                        <partial name="Component/_PhoneItem" model="@phone" />
                    }
                }

                <div class="col-12">
                    <nav>
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Shop Product End -->
    </div>
</div>
<!-- Shop End -->

@section Scripts {
    <script defer src="~/js/Home/home.js"></script>
}